extends layout

block content
	div#banner.row
			h1
				img(src= "/img/roth-regatta-live-header.jpg", alt="Roth Regatta Live")
		
	div.container
		div.row
			p#description.col-md-9.col-md-12 #{settings.descriptionText}
		
		div.row
			div#mainVideo.col-lg-9.col-md-12
				iframe.video(src="http://www.ustream.tv/embed/" + settings.ustream.videoid + "?v=3&amp;wmode=direct&autoplay=true")
			div#tweets.col-lg-3.col-md-12
				h3 <i class="fa fa-twitter"></i> #{hashtag}
				a.twitter-share-button(href="https://twitter.com/share", data-text="I'm watching @SBUjournalism's live broadcast of the #RothRegatta. #RRL2015") Tweet
				div#tweetContent

		div#ugc.row
			

	script#tweetTemplate(type="text/template").
		<div class="tweet row">
			<div class="col-md-12 text">
				<%= jdrive.formatTweet(tweet.text) %>
			</div>
			<div class="col-md-7 col-md-offset-5 byline">
				-- <a href="http://www.twitter.com/<%= tweet.user.screen_name %>">@<%= tweet.user.screen_name %></a>
			</div>
		</div>

	script#instaTemplate(type="text/template").
		<div class="col-md-3 insta">
			<div class="row">
				<div class="col-md-12 user">
					<i class="fa fa-instagram"></i> <%= item.user.username %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 img">
					<img src="<%= item.images.standard_resolution.url %>" class="img-responsive" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 caption">
					<p> <%= jdrive.breakHash(item.caption.text) %>
				</div>
			</div>
		</div>