/*
* Styles for JDrive Live
* Author: TC McCarthy
*/
/* Pull in page styles */
/* line 1, ../../assets/scss/_page.scss */
html, body {
  font-size: 16px;
  background-color: #000;
}

/* line 6, ../../assets/scss/_page.scss */
.container {
  width: 95%;
}

/* line 10, ../../assets/scss/_page.scss */
#banner {
  background-image: url("/img/banner.jpg");
  background-size: cover;
  height: 350px;
  background-position: 0 -10em;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 479px) {
  /* line 10, ../../assets/scss/_page.scss */
  #banner {
    background-position: 0 0;
    height: 250px;
  }
}

/* Pull in video styles */
/* line 1, ../../assets/scss/_video.scss */
.video {
  width: 100%;
  border: 0;
}

/* Styles for clips carousel */
/* line 1, ../../assets/scss/_tweets.scss */
#tweets {
  background-color: #FFF;
  overflow: hidden;
}
/* line 6, ../../assets/scss/_tweets.scss */
#tweets #tweetContent .row {
  height: 90%;
}
/* line 9, ../../assets/scss/_tweets.scss */
#tweets #tweetContent .row.tweet {
  margin-bottom: 1em;
  padding: 10px;
  height: 0px;
  opacity: 0;
}

/* Styles for ugc carousel */
/* line 1, ../../assets/scss/_ugc.scss */
#ugc {
  text-align: center;
}
/* line 4, ../../assets/scss/_ugc.scss */
#ugc .insta {
  background: #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-right: 1em;
  display: inline-block;
  text-align: left;
}
/* line 15, ../../assets/scss/_ugc.scss */
#ugc .insta .caption {
  height: 120px;
  overflow: hidden;
}
/* line 20, ../../assets/scss/_ugc.scss */
#ugc .insta .user {
  margin-top: 5px;
  margin-bottom: 5px;
}
