/*
* Styles for JDrive Live
* Author: TC McCarthy
*/
/* Pull in page styles */
/* line 1, ../../assets/scss/_page.scss */
html, body {
  font-size: 16px;
  background-color: #000;
  padding: 0;
  margin: 0;
}
/* line 7, ../../assets/scss/_page.scss */
html h1, body h1 {
  padding: 0;
  margin: 0;
  color: #FFF;
  text-transform: uppercase;
}
/* line 14, ../../assets/scss/_page.scss */
html img, body img {
  border: none;
  max-width: 580px;
  max-height: 99px;
}
/* line 20, ../../assets/scss/_page.scss */
html .container, body .container {
  width: 95%;
}
/* line 24, ../../assets/scss/_page.scss */
html #banner, body #banner {
  border-top: 4px solid #d11621;
  background: #000;
  padding: 12px;
  margin: 0;
}
@media only screen and (max-width: 479px) {
  /* line 24, ../../assets/scss/_page.scss */
  html #banner, body #banner {
    background-position: 0 0;
  }
}
@media (max-width: 590px) {
  /* line 35, ../../assets/scss/_page.scss */
  html #banner img, body #banner img {
    width: 100%;
  }
}
/* line 41, ../../assets/scss/_page.scss */
html p#description, body p#description {
  color: #FFF;
}

/* Pull in video styles */
/* line 1, ../../assets/scss/_video.scss */
.video {
  width: 100%;
  border: 0;
}

/* Styles for clips carousel */
/* line 1, ../../assets/scss/_tweets.scss */
#tweets {
  border: 1px solid #FFF;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
}
/* line 7, ../../assets/scss/_tweets.scss */
#tweets .twitter-share-button {
  position: absolute !important;
  z-index: 2000;
  top: 16px;
  right: 2em;
  display: inline-block;
}
/* line 15, ../../assets/scss/_tweets.scss */
#tweets h3 {
  background: #000;
  border-bottom: 4px solid #d31823;
  color: #FFF;
  margin: 0 -15px;
  padding: 12px;
  color: #FFF;
  font-size: 1.2em;
}
@media only screen and (max-width: 479px) {
  /* line 1, ../../assets/scss/_tweets.scss */
  #tweets {
    margin-bottom: 1em;
  }
}
/* line 30, ../../assets/scss/_tweets.scss */
#tweets #tweetContent {
  height: 89%;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 35, ../../assets/scss/_tweets.scss */
#tweets #tweetContent a {
  color: #d31823;
}
/* line 39, ../../assets/scss/_tweets.scss */
#tweets #tweetContent .row {
  height: 90%;
}
/* line 42, ../../assets/scss/_tweets.scss */
#tweets #tweetContent .row.tweet {
  margin-bottom: 1em;
  padding: 14px 10px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
/* line 49, ../../assets/scss/_tweets.scss */
#tweets #tweetContent .row.tweet:nth-child(odd) {
  background: #EFEFEF;
}

/* Styles for ugc carousel */
/* line 1, ../../assets/scss/_ugc.scss */
#ugc {
  text-align: center;
  clear: both;
  background: #666;
  padding: 6px 4px;
}
/* line 6, ../../assets/scss/_ugc.scss */
#ugc .insta {
  background: #FFF;
  border: 6px solid #666;
  min-height: 320px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  text-align: left;
}
/* line 15, ../../assets/scss/_ugc.scss */
#ugc .insta .caption {
  height: 120px;
  overflow: hidden;
}
/* line 20, ../../assets/scss/_ugc.scss */
#ugc .insta .user {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 24, ../../assets/scss/_ugc.scss */
#ugc .insta .user i {
  color: #bd2025;
}
/* line 26, ../../assets/scss/_ugc.scss */
#ugc .insta img {
  margin: 0 0 6px;
}
@media (max-width: 720px) {
  /* line 29, ../../assets/scss/_ugc.scss */
  #ugc img {
    width: 100%;
  }
}
