#ugc{
    text-align: center;
    clear:both;
    background:#666;
    padding:6px 4px;
    .insta{
        background: #FFF;
        border:6px solid #666;
        min-height:320px;
        @include border-radius(0px);

        display: inline-block;
        text-align: left;

        .caption{
            height: 120px;
            overflow: hidden;
        }

        .user{
            font-size:22px;
            margin-top: 5px;
            margin-bottom: 5px;
            i {color:#bd2025;}
        }
        img {margin:0 0 6px;}
    }
}